{% load static %}
<!DOCTYPE html>
<html>
<title>Hahoor</title>

<link rel="apple-touch-icon" sizes="180x180" href="{%static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{%static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{%static 'favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{%static 'favicon/site.webmanifest' %}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="{% url 'dormitory:index' %}" class="w3-bar-item w3-button"><h1><b>HAHOOR</b></h1></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#member" class="w3-bar-item w3-button"><h3>Members</h3></a>
      <a href="#link" class="w3-bar-item w3-button"><h3>Links</h3></a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide w3-center" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/static/images/hahoor1.png" width="800" height="200">
</header>

<!-- member Section -->
<div class="w3-content w3-padding" style="max-width:1564px">
  <div class="w3-container w3-padding-32" id="member">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><b>MEMBERS</b></h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/static/images/bow.jpg" alt="minnie" style="width:100%">
      <h3>ธัญจิรา เพิ่มสกุล</h3>
      <p class="w3-opacity">Tanjira Permsakul</p>
      <p>6210612542</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/static/images/minnie.jpg" alt="bow" style="width:100%">
      <h3>นัฏนันทน์ นวกิจบำรุง</h3>
      <p class="w3-opacity">Nattanan Nawakitbamrung</p>
      <p>6210612567</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/static/images/wave.jpg" alt="wave" style="width:100%">
      <h3>วรรณชนะ มูลเมือง</h3>
      <p class="w3-opacity">Wanchana Moonmuang </p>
      <p>6210612757</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="/static/images/ae.jpg" alt="a" style="width:100%">
      <h3>พัฒนา ทรัพย์พนาชัย</h3>
      <p class="w3-opacity">Pattana Sappanachai</p>
      <p>6210612831</p>
    </div>
  </div>

<!-- contact Section -->
    <div class="w3-padding-16" id="link">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><b>LINKS</b></h3>

        <div>
            <a href="https://github.com/6210612757/hahoor">
                <img style="margin: 20px;" src="/static/images/github_logo.png" width="50" height="50">
            </a>
            <a href="https://github.com/6210612757/hahoor">https://github.com/6210612757/hahoor</a>
        </div>

        <div>
            <a>
                <img style="margin: 20px;" src="/static/images/youtube_logo.png" width="50" height="50">
            </a>
            <a href="https://github.com/6210612757/hahoor"></a>
        </div>

        <div>
            <a href="https://www.pivotaltracker.com/n/projects/2534998">
                <img style="margin: 20px;" src="/static/images/pivotal_logo.png" width="50" height="50">
            </a>
            <a href="https://www.pivotaltracker.com/n/projects/2534998">https://www.pivotaltracker.com/n/projects/2534998</a>
        </div>

    </div>
</div>

<footer class="w3-center w3-black w3-padding-16">
    <p><a href="https://www.hahoor.in.th">www.hahoor.in.th</a></p>
</footer>

</body>
</html>
